.upsideDown {
	transform: rotate(180deg) !important;
	-ms-transform: rotate(180deg) !important;
	-webkit-transform: rotate(180deg) !important;
}

.rotation {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
